name: Greet

on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Person name
        required: true

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Greet
        shell: pwsh
        run: |
          ./.github/workflows/scripts/Greet.ps1 -Name "${{ inputs.name }}"
