name: Greet

on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Person name
        required: true
      lucky-num:
        type: number
        description: Lucky number
        required: true
      dry-run:
        type: boolean
        description: |
          To run or not to run.  
          Set to `true` if you're confident.  
          Here's some code for fun:  
          ```csharp
          Console.WriteLine("Do it!");
          ```
        required: true

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: fvilches17/PipelinesWithDotNet10
          path: fvilches17/PipelinesWithDotNet10
      
      - name: Greet
        shell: pwsh
        run: |
          fvilches17/PipelinesWithDotNet10/./.github/workflows/scripts/Greet.ps1 `
            -Name "${{ inputs.name }}" `
            -LuckyNum ${{ inputs.lucky-num }} `
            -DryRun ${{ inputs.dry-run }}
