name: Greet

on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Person name
        required: true
      lucky-num:
        type: number
        description: Lucky number
        required: true
      dry-run:
        type: boolean
        description: |
          To run or not to run.  
          Set to `true` if you're confident.  
          Here's some code for fun:  
          ```csharp
          Console.WriteLine("Do it!");
          ```
        required: true
      additional-skip-patterns:
        type: string
        description: |
          Comma-separated list of additional branch name regex patterns to skip. Example: `^foo$,'^bar/'`  
          In the example, branches named `foo` and any branches under the `bar/` prefix will be skipped.  
          Note that these patterns are already skipped, regardless of this input:  
          - '^main$'
          - '^master$'
          - '^release/'
          - '^hotfix/'
          - '^datafix/'
          - '^develop$'  
          Default is empty (no additional patterns).
        required: false
        default: ''

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: fvilches17/PipelinesWithDotNet10
          path: fvilches17/PipelinesWithDotNet10
      
      - name: Greet
        shell: pwsh
        run: |
          fvilches17/PipelinesWithDotNet10/./.github/workflows/scripts/Greet.ps1 `
            -Name "${{ inputs.name }}" `
            -LuckyNum ${{ inputs.lucky-num }} `
            -DryRun $${{ inputs.dry-run }} `
            -AdditionalSkipPatterns (("${{ inputs.additional-skip-patterns }}" -split ",") | ForEach-Object { $_.Trim() } | Where-Object { -not [string]::IsNullOrWhiteSpace($_) })
